@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans';
}



/* body {
 background-color: rgb(12, 25, 63);
} */



#search_word {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  min-width: 200px;
  width: 30%;
  margin: auto;
}

.toggle-btn {
  background-color: white !important;
  border: 1px solid #2B58E1  !important;
  padding: 10px;
  color: #2B58E1 !important;
  font-weight: 500 !important;
  margin-right: 1rem;
}

.active {
  color: white !important;
  background-color: #2B58E1 !important;
}

.btn-group {
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  padding-bottom: 2rem;
  justify-content: center;
}

#nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#nav-buttons button {
  width: 30%;
  min-width: 300px;
}

.custom-navbar-bg {
  background-color: white;
  height: 12vh;
}

/* .main {
  background-color: rgb(12, 25, 63);
  min-height: 100vh;
} */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  background-color: white (12, 25, 63);
  color: #1E1E1E;
  min-height: 100vh;
}


.content-container {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  background-color: rgb(12, 25, 63); */
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}

h1 {
  color: #1E1E1E;
  margin-bottom: 2rem;
  margin-top: 0;
}

/* .upload-input {
  width: calc(50% - 10px);
  padding: 20px;
  border: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  min-width: 378px;
  margin-right: 5px;
  margin-bottom: 15px;
} */

/* .upload-content {
  width: calc(50% - 10px);
  padding: 10px; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 15px;
} */



.introText{
  margin-bottom: 15px;
  text-align: center;
}

.result-div {
  grid-column: 1 / -1;
  text-align: center;
  min-height: 100vh;
  color: white;
  padding: 2rem;
  padding-top: 4rem;
}

.keywords-block {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* #additional-words {
  display: flex;
  width: 60%;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem;
} */

#download_csv a {
  color: white;
  text-decoration: none;
}

#choose_words{
  font-size: 1.5rem;
}

#additional-words-btn {
  font-size: 0.8rem;
  width: fit-content;
}

#content {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin: auto;
}

/* #table-content {
  padding: 1rem;
  height: 300px;
  overflow: scroll;
  width: 100%;
  margin: auto;
  margin-bottom: 2rem;
  overflow-y: auto;
} */

/* table thead tr:first-child th {
  position: sticky;
  top: 0px;
  background-color: #afc8f0;
} */

.copyright {
  font-size: 1.2rem;
  color: grey;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* .upload-input {
    width: 70%;
    margin-bottom: 15px;
  } */

  /* .upload-content {
    width: 70%;
    margin-bottom: 15px;
    margin-top: 15px;
  }   */

  #content {
    flex-direction: column;
  }

  #previous-div {
    margin: 1rem;
  }

  #previous-btn {
    font-size: 80%;
  }
}